.main__header {
  @include clearfix;
  background-color: $color-brand;
  color: $color-brand-dark;
  padding: 1.5em 0;
}

.main__header__wrapper {
  @extend %width-wrapper;
  padding: 0 2em;
}

.brand {
  float: left;
  margin-right: 0.25em;
}

.brand__logo {
  @extend %logo;
  color: $color-brand;
  float: left;
  margin-right: 0.5em;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.brand__title {
  overflow: auto;

  h1 {
    color: white;
    font-size: 1.5em;
    line-height: 1;
  }
}

.nav {
  float: right;

  a {
    color: $color-brand-dark;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 3em;
    margin-left: 1em;
    position: relative;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}
