@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

%width-wrapper {
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
  width: $main-width;
}

.clearfix {
  @include clearfix;
}

.column {
  width: 50%;
  float: left;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

%logo {
  $size: 2em;
  background-color: $color-gray;
  border-radius: $size / 2;
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  height: $size;
  line-height: $size;
  text-align: center;
  width: $size;
}
