.main__content {
  @extend %width-wrapper;
  margin-top: -50px;
}

.startups {
  width: 100%;

  thead {
    background-color: darken($color-brand, 15%);
    color: $color-brand;
  }

  tbody {
    tr {
      cursor: pointer;
      padding: 0.5em 0;

      &:hover {
        background-color: $color-gray-lighter;
      }
    }

    td:first-child {
      padding-right: 0;
      width: 3em;
    }
  }

  th,
  td {
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;

    &.stacked {
      line-height: 1em;
    }
  }
}

.startup-logo {
  $size: 1.25em;
  background-color: $color-gray;
  border-radius: $size / 2;
  color: white;
  font-size: 2em;
  height: $size;
  line-height: $size;
  text-align: center;
  width: $size;

  .in-stealth-mode & {
    background-color: transparent;
    border: 1px dashed $color-gray;
  }
}

.progress {
  width: 150px;
  height: 1em;
  border: 2px solid $color-brand;
  position: relative;
}

.progress__fill {
  background-color: $color-brand;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  z-index: 1;
}

.progress__marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $color-brand-lighter;
  border-right: 2px solid $color-brand;
}

.countdown {
  color: white;
  padding-left: 0.5em;
}
