$panel-width: 33%;

.panel {
  background-color: $color-gray;
  bottom: 0;
  color: $color-gray-lighter;
  position: fixed;
  right: -($panel-width);
  top: 0;
  transition: transform 0.2s ease-in-out;
  width: $panel-width;
  z-index: 11;

  .scroll-container {
    bottom: 4em;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 7.75em;
  }

  .show-panel & {
    transform: translate3d(-100%, 0, 0);
  }
}

.panel__title,
.panel__content {
  padding: 2em;
}

.panel__title,
.panel__footer {
  background-color: lighten($color-gray, 10%);
}

.panel__title {
  .startup-logo {
    float: left;
    font-size: 3em;
    margin-right: 0.25em;
  }
}

.panel__content {
  ~ .panel__content {
    border-top: 2px solid lighten($color-gray, 10%);
  }

  table {
    margin-top: 0.5em;
    width: 100%;
  }

  thead {
    @extend %small;
    color: $color-gray-light;

    th {
      padding: 0.5em;
    }
  }

  tbody {
    border: 1px solid lighten($color-gray, 10%);
  }

  tr:nth-child(even) {
    background-color: lighten($color-gray, 5%);
  }
}

.panel__footer {
  bottom: 0;
  left: 0;
  padding: 1em 2em;
  position: absolute;
  right: 0;

  button {
    float: right;

    &:focus {
      box-shadow: 0 0 0 1px lighten($color-gray, 10%), 0 0 0 4px darken($color-brand, 15%);
    }
  }
}

.panel__background {
  transition: opacity 0.3s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-brand-light, 0.6);
  z-index: 10;
  pointer-events: none;
  opacity: 0;

  .show-panel & {
    opacity: 1;
    pointer-events: auto;
  }
}
