$main-width: 1000px;

$font-family-base: "helvetica neue", helvetica, arial, sans-serif;
$font-family-heading: $font-family-base;

$color-gray:          #333;
$color-gray-light:    #999;
$color-gray-lighter:  #f0f0f0;
$color-brand:         rgb(72, 194, 90);
$color-brand-dark:    rgb(33, 84, 42);
$color-brand-light:   rgb(174, 230, 185);
$color-brand-lighter: rgb(214, 243, 218);
