// bower:scss
@import "_normalize.scss/_normalize.scss";
// endbower

// VARIABLES
$font-family-base: "helvetica neue", helvetica, arial, sans-serif;
$font-family-heading: $font-family-base;

$color-gray:          #333333;
$color-brand:         rgb(72, 194, 90);
$color-brand-dark:    rgb(33, 84, 42);
$color-brand-light:   rgb(174, 230, 185);
$color-brand-lighter: rgb(214, 243, 218);

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

%width-wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

// BASE
* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: $font-family-base;
  color: $color-gray;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-heading;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

a {
  color: $color-brand;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

%small,
small {
  font-size: 0.75em;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.main__header {
  @include clearfix;
  padding: 2em 0 3em;
  background-color: $color-brand;
  color: $color-brand-dark;
}

.main__header__wrapper {
  @extend %width-wrapper;
}

.mailing-list {
  position: absolute;
  top: 0;
  right: 1em;
}

.brand__title {
  color: white;
}

.brand__description {
  padding-bottom: 2em;
}

.main__content {
  @extend %width-wrapper;
  margin-top: -50px;
}

.startups {
  width: 100%;
}

thead {
  background-color: $color-brand-dark;
  color: $color-brand;
}

tbody {
  tr {
    padding: 0.5em 0;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  td:first-child {
    padding-right: 0;
    width: 3em;
  }
}

th,
td {
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 3em;

  &.stacked {
    line-height: 1em;
  }

  strong {
    display: block;
  }

  button {
    float: right;
  }

  tbody & {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.startup-logo {
  $size: 1.25em;
  font-size: 2em;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  background-color: $color-gray;
  color: white;
  line-height: $size;
  text-align: center;
}

.main__footer {

}
